 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1275px;
	 height: 1650px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #page51701 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1275px;
	 height: 1950px;
	 z-index:1;
} 

 #p5shced4A5B 
{ 
	 left: 950px; 
	 top: 1582px; 
	 position: absolute; 
	 width: 269px;
	 height: 34px;
	 z-index:2;
} 

 #p5shced4A5A 
{ 
	 left: 674px; 
	 top: 1582px; 
	 position: absolute; 
	 width: 259px;
	 height: 34px;
	 z-index:3;
} 

 #p5shced4A4B 
{ 
	 left: 950px; 
	 top: 1547px; 
	 position: absolute; 
	 width: 269px;
	 height: 33px;
	 z-index:4;
} 

 #p5shced4A4A 
{ 
	 left: 674px; 
	 top: 1547px; 
	 position: absolute; 
	 width: 259px;
	 height: 33px;
	 z-index:5;
} 

 #p5shced4A3B 
{ 
	 left: 950px; 
	 top: 1511px; 
	 position: absolute; 
	 width: 270px;
	 height: 34px;
	 z-index:6;
} 

 #p5shced4A3A 
{ 
	 left: 674px; 
	 top: 1511px; 
	 position: absolute; 
	 width: 258px;
	 height: 34px;
	 z-index:7;
} 

 #p5shced4A2B 
{ 
	 left: 950px; 
	 top: 1475px; 
	 position: absolute; 
	 width: 269px;
	 height: 34px;
	 z-index:8;
} 

 #p5shced4A2A 
{ 
	 left: 674px; 
	 top: 1475px; 
	 position: absolute; 
	 width: 259px;
	 height: 34px;
	 z-index:9;
} 

 #p5shced4A1B 
{ 
	 left: 950px; 
	 top: 1440px; 
	 position: absolute; 
	 width: 269px;
	 height: 33px;
	 z-index:10;
} 

 #p5shced4A1A 
{ 
	 left: 674px; 
	 top: 1440px; 
	 position: absolute; 
	 width: 259px;
	 height: 33px;
	 z-index:11;
} 

 #p5shced33B 
{ 
	 left: 950px; 
	 top: 1312px; 
	 position: absolute; 
	 width: 269px;
	 height: 36px;
	 z-index:12;
} 

 #p5shced33A 
{ 
	 left: 674px; 
	 top: 1312px; 
	 position: absolute; 
	 width: 262px;
	 height: 36px;
	 z-index:13;
} 

 #p5shced32B 
{ 
	 left: 950px; 
	 top: 1276px; 
	 position: absolute; 
	 width: 268px;
	 height: 34px;
	 z-index:14;
} 

 #p5shced32A 
{ 
	 left: 674px; 
	 top: 1276px; 
	 position: absolute; 
	 width: 263px;
	 height: 34px;
	 z-index:15;
} 

 #p5shced32desc 
{ 
	 left: 71px; 
	 top: 1276px; 
	 position: absolute; 
	 width: 598px;
	 height: 34px;
	 z-index:16;
} 

 #p5shced31B 
{ 
	 left: 950px; 
	 top: 1241px; 
	 position: absolute; 
	 width: 269px;
	 height: 33px;
	 z-index:17;
} 

 #p5shced31A 
{ 
	 left: 674px; 
	 top: 1241px; 
	 position: absolute; 
	 width: 262px;
	 height: 33px;
	 z-index:18;
} 

 #p5shced31desc 
{ 
	 left: 71px; 
	 top: 1241px; 
	 position: absolute; 
	 width: 598px;
	 height: 33px;
	 z-index:19;
} 

 #p5shced25B 
{ 
	 left: 950px; 
	 top: 1146px; 
	 position: absolute; 
	 width: 269px;
	 height: 33px;
	 z-index:20;
} 

 #p5shced25A 
{ 
	 left: 674px; 
	 top: 1146px; 
	 position: absolute; 
	 width: 258px;
	 height: 33px;
	 z-index:21;
} 

 #p5shced24B 
{ 
	 left: 950px; 
	 top: 1110px; 
	 position: absolute; 
	 width: 268px;
	 height: 33px;
	 z-index:22;
} 

 #p5shced24A 
{ 
	 left: 674px; 
	 top: 1110px; 
	 position: absolute; 
	 width: 258px;
	 height: 33px;
	 z-index:23;
} 

 #p5shced23B 
{ 
	 left: 950px; 
	 top: 1074px; 
	 position: absolute; 
	 width: 269px;
	 height: 33px;
	 z-index:24;
} 

 #p5shced23A 
{ 
	 left: 674px; 
	 top: 1074px; 
	 position: absolute; 
	 width: 257px;
	 height: 33px;
	 z-index:25;
} 

 #p5shced22B 
{ 
	 left: 948px; 
	 top: 1038px; 
	 position: absolute; 
	 width: 269px;
	 height: 35px;
	 z-index:26;
} 

 #p5shced22A 
{ 
	 left: 674px; 
	 top: 1038px; 
	 position: absolute; 
	 width: 263px;
	 height: 35px;
	 z-index:27;
} 

 #p5shced21B 
{ 
	 left: 950px; 
	 top: 1002px; 
	 position: absolute; 
	 width: 270px;
	 height: 34px;
	 z-index:28;
} 

 #p5shced21A 
{ 
	 left: 674px; 
	 top: 1003px; 
	 position: absolute; 
	 width: 260px;
	 height: 33px;
	 z-index:29;
} 
